**/target

Cargo.lock
.cargo
.cargo_cache
build
bin/start.sh
bin/sgx_driver.txt

#object file
*.o

#library
*.a

#share object
*.so
*.so.*

#generated proxy
**/*_u.c
**/*_u.h
**/*_t.c
**/*_t.h
**/bin/**

#vscode
.vscode

#cess_pbc
/cess_pbc/pbc/autom4te.cache/
/cess_pbc/pbc/arith/.deps/
/cess_pbc/pbc/arith/.dirstamp
/cess_pbc/pbc/ecc/.deps/
/cess_pbc/pbc/ecc/.dirstamp
/cess_pbc/pbc/misc/.deps/
/cess_pbc/pbc/misc/.dirstamp
/cess_pbc/pbc/Makefile
/cess_pbc/pbc/Makefile.in
/cess_pbc/pbc/aclocal.m4
/cess_pbc/pbc/compile
/cess_pbc/pbc/config.h
/cess_pbc/pbc/config.h.in
/cess_pbc/pbc/config.log
/cess_pbc/pbc/config.status
/cess_pbc/pbc/configure
/cess_pbc/pbc/depcomp
/cess_pbc/pbc/install-sh
/cess_pbc/pbc/missing
/cess_pbc/pbc/stamp-h1